@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="w3-container w3-display-middle">
    <h1 class="w3-animate-fading">
        <a style=color:#785ff4>Fresh </a><a style=color:#1185f9>Direct </a><a style=color:#3ae2fc>Groceries</a> Home
    </h1>
    <p>
        Fresh Direct is a project created by the students
        of CPSC 471 - Database Management Systems at the University of Calgary.
    </p>
    <p><a href="http://contacts.ucalgary.ca/info/cpsc/courses/w18/CPSC471?destination=profiles%2F102-28053%2Fcourses" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<style>
    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
</style>

