
<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">


<div class="w3-container w3-display-middle" style="padding-top:150px;">
    <h1 class="w3-animate-left">
        <a style=color:#785ff4>View </a><a style=color:#1185f9>All </a><a style=color:#3ae2fc>Users</a>
        <br />
    </h1>
    <br /> <br />
    <div style="text-align:left; padding-left:50px;">
        <h2>Customers</h2>
        @if (ViewBag.foundcustomers == true)
        {
            <table>
                @foreach (string customer in ViewBag.customerlist)
                {
                    <tr>
                        @Html.Raw(customer)
                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no customers in the database</p>
        }
        <br />
        <h2>Employees</h2>
        @if (ViewBag.foundemployees == true)
        {
            <table>
                @foreach (string employee in ViewBag.employeelist)
                {
                    <tr>
                        @Html.Raw(employee)
                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no employees in the database</p>
        }
        <br />
        <h2>Managers</h2>
        @if (ViewBag.foundmanagers == true)
        {
            <table>
                @foreach (string manager in ViewBag.managerlist)
                {
                    <tr>
                        @Html.Raw(manager)
                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no managers in the database</p>
        }
        <br />
    </div>
    <div style="text-align:center;">
        <a style="float: none;display:inline-block;font-family:'Montserrat',sans-serif;background-color: #785ff4;color: white;padding: 10px 15px;margin: 8px 0;border: none;cursor: pointer;width: 300px;height: 40px;" href="/Home/CreateEmployeeAccount">Add New Employee Account</a>
        <a style="float: none;display:inline-block;font-family:'Montserrat',sans-serif;background-color: #1185f9;color: white;padding: 10px 15px;margin: 8px 0;border: none;cursor: pointer;width: 300px;height: 40px;" href="/Home/CreateManagerAccount">Add New Manager Account</a>
        <br/><br />
        @using (Html.BeginForm("DeleteUser", "Home", FormMethod.Post))
    {
        @Html.TextBox("username", null, new { @placeholder = "Username of to be Deleted", required = "required" , style = "height:40px;display:inline-block;width:350px;" })<br />
        <input type="submit" style="float:none;background-color: #1185f9;color: white;padding: 10px 15px;margin: 8px 0;border: none;cursor: pointer;width: 300px;height: 40px;" value="Delete User Account" />
    }
    </div>
    <br /><br />
</div>


<style>

    form {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
    }

    input, textarea {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        width: 700px;
        height: 40px;
    }

        input:focus, textarea:focus {
            border-color: aquamarine;
        }

        /* Full-width inputs */
        input[type=text], input[type=password] {
            width: 300px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }


        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }


    /* Add padding to containers */
    .container {
        padding: 16px;
    }

    /* The "Forgot password" text */
    span.psw {
        float: right;
        padding-top: 16px;
    }

    a:hover {
        color: #634cf7;
        background-color: transparent;
        text-decoration: none;
    }

    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
    tr {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 14px;
    }
    td{
        padding: 5px 10px;
    }
    p2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    p3 {
        position: absolute;
        bottom: 100px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
</style>
